@use 'tokens';

.screen {
	min-height: 100%;
	padding-bottom: 8px;
}

.centered {
	display: grid;
	min-height: 100%;
	place-content: center;
	padding: 18px;
	text-align: center;
}

.logo {
	width: 68px;
	height: 68px;
	margin: auto;
	border-radius: 15px;
	box-shadow: 0 4px 14px #0008;
}

.error {
	color: #ff9399;
}
